$unitPxVw: 14.4;
$mobileWidth: 768px;



@function vw($valueInPx, $baseWidthUnitInPx: $unitPxVw) {
  @return #{($valueInPx/$baseWidthUnitInPx)}vw;
}

@function rem($value) {
  @return #{$value/16 + 'rem'};
}

body {
  margin: 0;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.grey {
  background-color: gray;
}

.main-wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 1999;
  overflow: hidden; //find why

  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none !important;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  p {

  }

  .is_hidden {
    display: none !important;
  }



  .section {
    padding: 0;
    position: relative;
    font-size: 18px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;
    .col {
      display: flex;
      flex-flow: row wrap;
      flex: 0 0 0px;
      position: relative;

      align-items: center;
      justify-items: center;
      justify-content: flex-start;

      &.col-wrapper {
        padding: 0;
      }

      @for $i from 0 through 12 {
        $w: $i/12;

        &.col-#{$i} {
          flex: 0 1 #{$w * 100%};
        }
      }

      &.col-2-5 {
        flex: 0 1 20%;
      }

      &.col-3-75 {
        flex: 0 1 37.5%;
      }
    }

    .col-even {
      .input-row {
        padding-left: 12px;
      }
    }

    .col-odd {
      .input-row {
        padding-right: 12px;
      }
    }
  }


  .wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-items: flex-start;
    padding: 0;
    align-items: center;

    &.wrapper-reverse {
      flex-flow: row-reverse wrap;
    }

    &.wrapper-center {
      justify-content: center;
    }
    &.wrapper-between {
      justify-content: space-between;
    }

  }

  /* POPUP */

  .popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100%;

    &.is_hidden {
      display: none;
    }

    &:before {
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      flex: 0;
    }

    .popup {
      border-radius: 16px;
      max-width: 488px;
      padding: 24px;
      width: 100%;
      background-color: #ffffff;
      text-align: center;
      position: relative;
      z-index: 2;
      overflow: hidden;
    }
  }

  @import 'main_mob';
}
