@use "sass:math";

$columns: 12;
$gutter: 0;
$maxWidth: 1440px;


.red {
    background-color: red;


}
.green {
    background-color: green;
}
body {
    margin: 0;
    padding: 0;
}
.page-wrapper {
    display: block;
    width: $maxWidth;
    padding: 0;
    margin: 0 auto;

    @mixin wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: - math.div($gutter, 2);
        margin-right: - math.div($gutter, 2);
    }
    
    @mixin col($col-span) {
        flex: 0 0 (math.div(100%, $columns) * $col-span);
        max-width: (math.div(100%, $columns) * $col-span);
        padding-left: math.div($gutter, 2);
        padding-right: math.div($gutter, 2);
    }

    .wrapper {
        @include wrapper;
    }

    @for $i from 1 through $columns {
        .col-#{$i} {
            @include col($i);
        }
    }
}